body {background-color: #c3fff9;}
html {font-size: 30px;
font-family: "clother", sans-serif;
font-weight: 400;
font-style: normal;font-family: "clother", sans-serif;
font-weight: 400;
font-style: normal;}
.site-id {font-size: 120px; 
    line-height: .7;
    font-family: "Roboto Mono", monospace;}
.hot {color: rgb(217, 23, 62); 
    font-weight:bolder ;}
.call-out {text-align: right;}